<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

        <title>Aylien Sentiment API</title>

    </head>

    <body>

        <header>
            <div class="">
                Natural Language Processing Project
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h4>Please Input a URL address</h4>
                    <input id="url" type="url" name="url" value="" placeholder="https://www.sample.com/article">
                    <input type="submit" class="button" name="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <p class="form-result">Form Results:</p>
                <div id="results">
                    <ul>
                    <li id="polarity"></li>
                    <li id="subjectivity"></li>
                    <li id="polarity_confidence"></li>
                    <li id="subjectivity_confidence"></li>
                    </ul>
                </div>
            </section>
        </main>

        <footer id="footer">
            <p>NLP Project</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
