form {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 3px;
    padding: 40px;


    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        border-radius: 2px;
    }
    
    .form-result {
        padding: 5px;
        margin: 6px;
    }
}